functions/node_modules
functions/etc
functions/lib
functions/cloud-functions-emulator.log
functions/firebase-debug.log
functions/.runtimeconfig.json
cloud-functions-emulator.log
yarn-error.log
service_account.json
functions/.runtimeconfig.json