service firebase.storage {
	match /b/{bucket}/o {
		match /images {
			match /{images} {
				allow read
			}
		}
		match /projects/{uid}/{image} {
			allow read
			allow delete: if false
			allow update: if false
			allow write:
				if request.resource.size < 10 * 1024 * 1024
				&& request.resource.contentType.matches('image/.*')
				&& request.auth.uid == uid
		}
	}
}
